link(rel='stylesheet', href='/stylesheets/index.css')
.navbar.navbarfixed-top
  .navbar-inner
      .container
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='/') Tempo
        .nav-collapse.collapse
          ul.nav
            li
              a(href='/') Home
            li
              a(href='/newRoutine') Make a Routine
            li
              a(href='/myroutines') My Routines
//          ul#main-menu-right.nav.pull-right
            li.divider-vertical
            li 
              a(href='#') Log in
      