#fullroutine
  h3 #{routine[0].title}
  .row
    .span2
      b Activity
    .span3
      b Song
  for song in routine[0]._activities
    .row.song(songId=song.songKey)
      .span2 #{song.name}
      .span4 #{song.songName}
  br
  br
  br
  button.btn(id= 'playbutton', type='button') Play
  &nbsp; &nbsp; &nbsp;
  button.btn(id= 'editbutton', type='button') Edit
  #music

script
  $('#playbutton').click(function(){
    var idlist = [];
    $('p.song').each(function(i, p){
      idlist.push(p.getAttribute('songId'));
      });
    console.log(idlist);
    $.get("/playsongs", {"ids":idlist}, function(html){
      $('#music').html(html);
    });
  });

