
h3 #{routine[0].title}
for song in routine[0]._activities
  p.song(songId=song.songKey) #{song.songName}
button.btn(id= 'playbutton', type='button') Play
&nbsp;
button.btn(id= 'editbutton', type='button') Edit
#music

script
  $('#playbutton').click(function(){
    var idlist = [];
    $('p.song').each(function(i, p){
      idlist.push(p.getAttribute('songId'));
      });
    $.get("/playsongs", {"ids":idlist}, function(html){
      $('#music').html(html);
    });
  });

