extends layout 
block head
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  .container
    h1 Welcome to #{title}
    br
    div(id = 'logo')
      img(width='200', height='200', src='http://www.reactable.com/mobile/manual/icons/tempo_tempo.png')

    div(id = 'quote')
      h3 Add some music to your morning routine