extends layout 
block head
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  .container
    h1 Welcome to #{title}
    br
    div(id = 'video')
      iframe(width='560', height='315', src='http://www.youtube.com/embed/DgsNjTyGsRk#t=44s', frameborder='0', allowfullscreen='allowfullscreen')

    div(id = 'quote')
      h3 blah blah blah something inspirational to make you want to use this product blah blah blah