extends layout 
block head
  link(rel='stylesheet', href='/stylesheets/home.css')
  link(href='http://fonts.googleapis.com/css?family=Noto+Sans:700italic', rel='stylesheet', type='text/css')

block content
  .container
    .row(style='margin-top:20px;')
      .span2.offset8
        a(href='/sign_in')
          button.btn.btn-large.btn-primary.span2(type='button')
            b Log In
      .span2
        a(href='/sign_up')
          button.btn.btn-large.span2(type='button')
            b Sign Up
    .row.text-center(style='margin-top:40px;')
      img(src='/images/Tempo_white.png')
    .row#quote(style='margin-top:20px;')
      h2.text-center Keep Pace
//    .row.text-center(style='margin-top:50px;')
//      a(href='/newRoutine')
//        button.btn.btn-large.btn-success(type='button')
//          h2 Give it a whirl