extends layout

block content
  h1= title
  div(class = 'songs')
    form
      input(type='text', name = 'activity', placeholder = 'Activity')
      input(type='text', name = 'time', placeholder = 'Time')
      input(type='text', name = 'song', placeholder = 'Song Name')
      input(type='submit', value = 'Search Song', class = 'songsearch', onClick = "this.onclick=null; showsongs(this); return false")
      input(type='submit', value = '-',onClick="$(this).parent().remove()", class = 'removefield')
  input(type='submit', value = '+', class = 'addsong')

  script(type='text/javascript')
    function showsongs(e){
      $.post('/showsongs', {'song': e.previousSibling.value}, function(html){
        e.parentNode.parentNode.innerHTML += html;
        return false;
        })
    };
    $('.addsong').click(function() {
      $('<form><input type="text" name="song" placeholder="Song Name"/><input type="text" name="activity" placeholder="Activity"/><input type="text" name="time" placeholder="Time"/><input type="submit" value="Search Song" class="songsearch" onClick="showsongs();"/><input type="submit" value="-" class="removefield" onClick="$(this).parent().remove();"/></form>').appendTo('.songs');
    return false;
    });

    var remove_p = function() {
      $(this).parent().remove();
      console.log('remove');
      return false;
    };
