extends layout

block head
  script(src='/javascripts/jquery.simplemodal.1.4.4.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js')
  
  //if lt IE 7
    link(rel='stylesheet', href='/stylesheets/modal_basic_ie.css')
  script(type='text/javascript')
    $(function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    });

block content
  .container
    .row
      form.form-inline
        .span2(style='font-size: 19pt; font-weight:500') Your Routine:
        input#routineName(type='text', placeholder= 'Routine Name')
        &nbsp;
        input.btn.btn-inverse(type='submit', value='Save Routine', id='submitRoutine')
        ul#sortable(style='list-style-type: none; margin-top:20px')
    .row(style='margin-top:20px')
      form.form-horizontal
        .control-group
          label.control-label(for='activity') Add an Activity
          .controls
            input#activity(type='text', name = 'activity', placeholder = 'Activity')
            &nbsp;
            input.input-small#duration(type='text', name = 'duration', placeholder = 'Duration (s)')
            &nbsp;
            .input-append
              input#songName(type='text', name = 'song', placeholder = 'Song Name', data-provide = 'typeahead', autocomplete = 'off')
              &nbsp;
              input.btn(type='submit', value = 'Find Song and Add to Routine', class = 'songSearch', onClick = "showsongs(this); return false")
              input#artist(type='hidden')
              input#key(type='hidden')  

  script(type='text/javascript')
    $('#songName').typeahead({minLength: 3,
      matcher: function(param) {console.log(param); return true},
      source: function(query, process){
        // console.log('getting songs', query);
        $.get('/searchSongs', {'query': query}, function(songs){
          console.log('searching');
          var songArray = [];
          songs.forEach(function(song){songArray.push(song.name + ' (' + song.artist + ')');});
          console.log('Results for', query, ': ', songArray);
          process(songArray);
          })
    }});

    var i = 0;
    $('#submitRoutine').click(function() {
      var routineName = $('#routineName').val();
      var ids = $('#sortable').sortable('toArray');
      var activityArray = [];
      ids.forEach(function(id, playOrder){
        var activity = [];
        activity.push($('#'+id).attr('activity'));
        activity.push(playOrder);
        activity.push($('#'+id).attr('song'));
        activity.push($('#'+id).attr('key'));
        activity.push($('#'+id).attr('duration'));
        activity.push($('#'+id).attr('artist'));
        activityArray.push(activity);
      })
      $.ajax({
        url: '/newRoutine',
        type: 'POST',
        data: JSON.stringify({'routine': routineName, 'activities': activityArray}),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8'
        })
      $('#sortable').html('');
      $('#activity').val('');
      $('#duration').val('');
      $('#routineName').val('');
      $('#songName').val('');
      });