extends layout

block head
  script(src='/javascripts/jquery.simplemodal.1.4.4.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js')
  
  //if lt IE 7
    link(rel='stylesheet', href='/stylesheets/modal_basic_ie.css')
  script(type='text/javascript')
    $(function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    });

block content
  include _navbar
  .container
    .row
      form.form-inline
        .span2(style='font-size: 19pt; font-weight:500') Your Routine:
        input#routineName(type='text', placeholder= 'Routine Name')
        &nbsp;
        input.btn.btn-inverse(type='submit', value='Save Routine', id='submitRoutine')
        ul#sortable(style='list-style-type: none; margin-top:20px')
    .row(style='margin-top:20px')
      form.form-horizontal
        .control-group
          label.control-label(for='activity') Add an Activity
          .controls
            input#activity(type='text', name = 'activity', placeholder = 'Activity')
            &nbsp;
            input.input-small#duration(type='text', name = 'duration', placeholder = 'Duration (s)')
            &nbsp;
            .input-append
              input#songName(type='text', name = 'song', placeholder = 'Song Name', data-provide = 'typeahead', autocomplete = 'off')
              &nbsp;
              input.btn#addSong(type='submit', value = 'Add to Routine', songName = '', duration = '', artist = '', key = '') 

  script(type='text/javascript')
    $('#songName').typeahead({minLength: 3,
      updater: function(selected) {
        $('#addSong').attr('key', $(selected).attr('key'));
        $('#addSong').attr('artist', $(selected).attr('artist'));
        $('#addSong').attr('duration', $(selected).attr('duration'));
        $('#addSong').attr('songName', $(selected).attr('songName'));
        return $(selected).attr('songName') + " - " + $(selected).attr('artist');
      },
      matcher: function(param) {return true},
      source: function(query, process){
        $.get('/searchSongs', {'query': query}, function(songs){
          var songArray = [];
          songs.forEach(function(song) {
            songArray.push('<span songName="' + song.name + '" artist="' + song.artist + '" key="' +song.key + '" duration="' + song.duration + '">' + song.name + '</span>' + ' - ' + song.artist);
          });
          process(songArray);
        });
      }
    });

  script(type='text/javascript')
    $('#addSong').click(function() {
      var songDuration = $(this).attr('duration');
      var act = $('#activity').val();
      var song = $(this).attr('songName');
      var duration = $('#duration').val();
      if (duration == '' || duration > songDuration) {
        duration = songDuration;
      }
      var artist = $(this).attr('artist');
      var key = $(this).attr('key');
      $('<li class="draggable" id="'+i+'" artist="'+artist+'" song="'+song+'" key="'+key+'" duration="'+duration+'" activity="'+act+'"><i class="icon-resize-vertical"></i>&nbsp;'+act+': '+song + ' by ' + artist + '</li>').appendTo('#sortable');
      $('#activity').val('');
      $('#duration').val('');
      $('#songName').val('');
      i++;
      return false;
    })

  script(type='text/javascript')
    var i = 0;
    $('#submitRoutine').click(function() {
      var routineName = $('#routineName').val();
      var ids = $('#sortable').sortable('toArray');
      var activityArray = [];
      ids.forEach(function(id, playOrder){
        var activity = [];
        activity.push($('#'+id).attr('activity'));
        activity.push(playOrder);
        activity.push($('#'+id).attr('song'));
        activity.push($('#'+id).attr('key'));
        activity.push($('#'+id).attr('duration'));
        activity.push($('#'+id).attr('artist'));
        activityArray.push(activity);
      })
      $.ajax({
        url: '/newRoutine',
        type: 'POST',
        data: JSON.stringify({'routine': routineName, 'activities': activityArray}),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8'
        })
      $('#sortable').html('');
      $('#activity').val('');
      $('#duration').val('');
      $('#routineName').val('');
      $('#songName').val('');
      });
