doctype 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')
    block head

  body
    .navbar.navbarfixed-top
      .container
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='/') Tempo
        .nav-collapse.collapse
          ul.nav
            li
              a(href='/') Home
            li
              a(href='/newRoutine') Make a Routine
            li
              a(href='/myroutines') My Routines
          ul#main-menu-right.nav.pull-right
            li.divider-vertical
            li 
              a(href='#') Log in
    block content