extends layout 


block content
  .container#routinelist
    .row
      .span6
        .row
          h3 My Routines
        for routine in routines
          .row
            .routineName(id='#{routine.title}') #{routine.title}
            br
      .span6
        #songlist

  script
    $('.routineName').click(function(){
      $.post("/songsinroutine", {"title":this.id}, function(html){
        $('#songlist').html(html);
        });
      return false;
    });