extends layout 
block head
  link(rel='stylesheet', href='/stylesheets/myroutines.css')

block content
  .container(id='routinelist')
    h3 My Routines
    for routine in routines
      p(class='routineName', id='#{routine.title}')
        | #{routine.title}

        br
  div(id = "songlist")
    



  script
    $('.routineName').on('click',function(){
      console.log(this.id);
      $.post("/songsinroutine", {"title":this.id},function(html){
        $('#songlist').html(html);
        });
      return false;
    });