extends layout 

block content
  .container
    .row
        .tabbable.tabs-left
          ul.nav.nav-tabs
            li.nav-header(style='font-size:18pt; font-weight:500;') My Routines
            each routine, i in routines
              li.routineName(id='#{routine.title}', num = i)
                a(href="#tab"+i, data-toggle="tab") #{routine.title} 
                  i.icon-chevron-right(style='float:right;')
                  &nbsp;
          .tab-content
            .tab-pane.active
              #tab-content

  script
    $('.routineName').click(function(){
      $('.routineName').removeClass("active");
      $(this).addClass("active");
      var num = $(this).attr('num');
      $('#tab'+num).addClass("active");
      $.post("/songsinroutine", {"title":this.id, "index":num}, function(html){
        console.log(html);
        $('#tab-content').html(html);
        console.log(num);
        });
      return false;
    });