extends layout 

block content
  .container
    .row
        .tabbable.tabs-left
          ul.nav.nav-tabs
            li.nav-header(style='font-size:12pt') My Routines
            each routine, i in routines
              li.routineName(id='#{routine.title}', num = i)
                a(href="#tab"+i, data-toggle="tab") #{routine.title} 
                  i.icon-chevron-right
          .tab-content
            each routine, i in routines
              .tab-pane(id='tab' + i)

  script
    $('.routineName').click(function(){
      $('.routineName').removeClass("active");
      $('.tab-pane').removeClass('active');
      $(this).addClass("active");
      var num = $(this).attr('num');
      $('#tab'+num).addClass("active");
      $.post("/songsinroutine", {"title":this.id}, function(html){
        console.log(html);
        $('#tab' + num).html(html);
        console.log(num);
        });
      return false;
    });