
block head
  script(src='/javascripts/jquery.rdio.min.js')
  script(type='text/javascript')
    var idlist = '#{idlist}'.split(',');
    var durations = '#{durations}'.split(',');
    var i = 0, len=idlist.length;
    var playNextSong = 1;
    $(document).ready(function() {
      $('#api').bind('ready.rdio', function() {
        $(this).rdio().play(idlist[i]);
        $('#song0').css('background-color','#EAEAEA');
      });
      $('#api').bind('playStateChanged.rdio', function(e, playState) {
        if (playNextSong == 0 && (playState == 0 || playState == 2) && i < len-1) {
          // if playNextSong was off but playback stopped/paused (playState = 2/0),
          // ready for next song.
          playNextSong = 1;
          i++;
          $(this).rdio().play(idlist[i]);
          $('.song').css('background-color','white');
          $('#song' + i).css('background-color','#EAEAEA');
        } else if (playState==1) {
          playNextSong = 0;
        }
      });
      $('#api').bind('positionChanged.rdio', function(e, position) {
        if (position>=durations[i]) {
          $('#api').rdio().pause();
          playNextSong = 0;
        }
        //$('#position').css('width', Math.floor(100*position/durations[i])+'%');        
      });
      // this is a valid playback token for localhost.
      // but you should go get your own for your own domain.
      $('#api').rdio('GAlNi78J_____zlyYWs5ZG02N2pkaHlhcWsyOWJtYjkyN2xvY2FsaG9zdEbwl7EHvbylWSWFWYMZwfc=');
    });

block content
  #api