extends layout 
block head
  link(rel='stylesheet', href='/stylesheets/sign_in.css')
  link(href='http://fonts.googleapis.com/css?family=Noto+Sans:700italic', rel='stylesheet', type='text/css')


block content
  .container
    .row(style='margin-top:20px;')
        .span2.offset9
          a(href = '/sign_up')
            button.btn.btn-large.span2(type='button')
              b Sign Up
    .row.text-center(style='margin-top:40px;')
      a(href='/')
        img(src='/images/Tempo.png')
    .loginbuttons(style='margin-top:40px;')
      .row
        button.btn.logins(type="button")
          h3 Sign in with Google
      .row
        .or or
      .row
        input.input-text.logins(type="text", placeholder="Username or Email")
      .row
        input.input-text.logins(type="text", placeholder="Password")
      .row
        button.btn.btn-success.logins(type="Submit")
          h3 Log In