extends layout 
block head
  link(rel='stylesheet', href='/stylesheets/sign_in.css')
  link(href='http://fonts.googleapis.com/css?family=Noto+Sans:700italic', rel='stylesheet', type='text/css')


block content
  .container
    .row#title-row
      img.center(width='200', height='200', src='http://www.reactable.com/mobile/manual/icons/tempo_tempo.png')
      p.center#title Tempo
    .loginbuttons
      .row
        button.btn.logins(type="button")
          h3 Sign in with Google
      .row
        .or or
      .row
        input.input-text.logins(type="text", placeholder="Username or Email")
      .row
        input.input-text.logins(type="text", placeholder="Password")
      .row
        button.btn.btn-success.logins(type="Submit")
          h3 Enter