extends layout 
block head
  link(rel='stylesheet', href='/stylesheets/sign_in.css')
  link(href='http://fonts.googleapis.com/css?family=Noto+Sans:700italic', rel='stylesheet', type='text/css')


block content
  .container
    .row(style='margin-top:20px;')
        .span2.offset9
          a(href = '/sign_up')
            button.btn.btn-large.span2(type='button')
              b Sign Up
    .row.text-center(style='margin-top:40px;')
      a(href='/')
        img(src='/images/Tempo.png')
    .loginbuttons(style='margin-top:40px;')
      .row
        input.input-text.logins#username(type="text", placeholder="Username or Email")
      .row
        input.input-text.logins#password(type="password", placeholder="Password")
      .row
        button.btn.btn-success.logins#signin(type="Submit")
          h3 Log In
  script
    $('#signin').click(function(){
      $.ajax({
        url: '/verify',
        type: 'POST',
        data: JSON.stringify({'username':$('#username').val(), 'uncryptpass':$('#password').val()}),
        dataType: 'json',        
        contentType: 'application/json; charset=utf-8',
        success: function(data) {
          if (data.verified == false) {
            alert('Incorrect username/password combination. Please try again or create an account.');
          }
          if (typeof data.redirect == 'string') {
            window.location = data.redirect
          }
        }
      });
      return false;
    });

    $(document).keypress(function(e) {
      if(e.which == 13) {
        $.ajax({
          url: '/verify',
          type: 'POST',
          data: JSON.stringify({'username':$('#username').val(), 'uncryptpass':$('#password').val()}),
          dataType: 'json',        
          contentType: 'application/json; charset=utf-8',
          success: function(data) {
            if (data.verified == false) {
              alert('Incorrect username/password combination. Please try again or create an account.');
            }
            if (typeof data.redirect == 'string') {
              window.location = data.redirect
            }
          }
        });
        return false;
      };
    });