extends layout

block content
  div(class = 'songs')
    p
      input(type='text', name = 'song', placeholder = 'Song Name')
      input(type='text', name = 'activity', placeholder = 'Activity')
      input(type='text', name = 'time', placeholder = 'Time')
      input(type='submit', value = 'Search Song', class = 'songsearch')
      input(type='submit', value = '-',onClick="$(this).parent().remove()", class = 'removefield')
  input(type='submit', value = '+', class = 'addsong')

  script
    $('.addsong').click(function() {
      $('<p><input type="text" name="song" placeholder="Song Name"/><input type="text" name="activity" placeholder="Activity"/><input type="text" name="time" placeholder="Time"/><input type="submit" value="Search Song" class="removefield"/><input type="submit" value="-" class="removefield" onClick="$(this).parent().remove();"/></p>').appendTo('.songs');
    return false;
    });

    var remove_p = function() {
      $(this).parent().remove();
      console.log('remove');
      return false;
    };
