#quote {
	font-style:italic;
	vertical-align:middle;
	text-align: center;
	padding: 20px;
}

#title {
	padding-top: 60px;
	color: black;
	font-style: italic;
	font-weight: 500;
	font-family:'Noto Sans', sans-serif;
	font-size:150px;'
}
#title-row{
	text-align: center;
	padding: 20px;
}

.center{
	display: inline-block;
}