#quote {
	font-style:italic;
	vertical-align:middle;
	color: white;
	font-style: italic;
}

#title {
	padding-top: 60px;
	color: black;
	font-style: italic;
	font-weight: 500;
	font-family:'Noto Sans', sans-serif;
	font-size:150px;'
}

.center {
	display: inline-block;
	text-align: center;
}

body {
background-image:url('https://x.myspacecdn.com/new/common/images/splash/splash_background.jpg');
background-repeat:no-repeat;
background-position:right top;
}