body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

#routinelist {
  display: inline-block;
  width: 50%;
  text-align: left;
}

#songlist{
  display: inline-block;
  width: 50%;	
}