#quote {
  font-style:italic;
  vertical-align:middle;
  text-align: center;
  padding: 20px;
}

#title {
  padding-top: 60px;
  color: black;
  font-style: italic;
  font-weight: 500;
  font-family:'Noto Sans', sans-serif;
  font-size:150px;'
}
#title-row{
  text-align: center;
  padding: 20px;
}

.center{
  display: inline-block;
}

.centerbuttons{
  width: 400px ;
  margin-left: auto ;
  margin-right: auto ;
}

.loginbuttons{
  text-align: center;
}
.or{
  text-align: center;
  text-transform: uppercase;
  border-radius: 1000px;
  line-height: 40px;
  /*width: 40px;*/
  font-size: 16px;
}
.input-text[class=input-text]{
  height:40px; !important
  font-size: 20px;
}

.logins{
  width: 300px;
}